.planos-container {
    padding: 24px 32px;
    margin-top: 128px;
}
.planos-container-text h2 {
    max-width: 1600px;
    font-weight: 500;
    font-size: 1.85rem;
    letter-spacing: .15px;
    color: var(--cor-p2);
    padding-bottom: 10px;
}
.planos-container-text p {
    max-width: 1400px;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: .15px;
    color: var(--cor-p2);
    padding-bottom: 22px;
}
.planos-cards-price {
    padding-left: 0px 32px;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-price {
    border: 2px solid var(--cor-p4);
    border-radius: 5px;
    max-width: 300px;
}
.card-price-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}
.card-price-infos h2 {
    color: var(--cor-p2);
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: -0.5px;
}
.card-price-infos h3 {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .15px;
    text-transform: uppercase;
    color: var(--cor-p5);
}
.card-price-infos span {
    margin-left: 74px;
    color: var(--cor-p5);
    font-size: 0.75rem;
    letter-spacing: .15px;
}
.card-price-vantagens ul li {
    color: var(--cor-p3);
    font-size: 0.95rem;
    letter-spacing: .15px;
    padding-block: 12px;
}
.card-price-vantagens ul  {
    padding: 22px;
}
.card-price-vantagens ul li + li {
    border-top: 1px solid var(--cor-p8);
    padding-block: 12px;
}
.card-price-vantagens ul li::before {
    content: '-';
}
.btnAssinarPlan {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-block: 32px;
}
.btnAssinarPlan a {
    padding: 16px 48px;
    background-color: var(--cor-p4);
    color: var(--cor-p9);
    border-radius: 5px;
}
.card-principal {
    background-color: var(--cor-p4);
    padding: 12px 8px;
}
.card-principal h3 {
    color: var(--cor-p2);
    font-weight: 600;
    padding-block: 12px;
}
.card-principal h2, .card-principal span {
    color: var(--cor-p10);
}
.card-principal ul li {
    color: var(--cor-p8);
}
.card-principal .btnAssinarPlan a {
    background-color: var(--cor-p8);
    color: var(--cor-p3);
}

/*RELATOS*/
.plans-relatos-container-txt {
    padding: 16px 32px;
}
.plans-relatos-container-txt h3 {
    max-width: 1600px;
    font-weight: 500;
    font-size: 1.85rem;
    letter-spacing: .15px;
    color: var(--cor-p2);
    padding-bottom: 10px;
}
.plans-relatos-container-txt p {
    max-width: 1400px;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: .15px;
    color: var(--cor-p2);
    padding-bottom: 22px;
}

.plans-relatos-container-cards{
    background-color: var(--cor-p4);
    padding-block: 64px;
}
.plans-cards-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
    max-width: 1800px;
    margin: 0 auto;
}
.plans-cards-txt {
    text-align: center;
    color: var(--cor-p3);
    padding-block: 16px;
    font-size: 2rem;
}
.relatos-cont-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid var(--cor-p6);
    padding: 12px 28px;
}
.relatos-cont-card p {
    text-align: center;
    padding-block: 18px;
    letter-spacing: .1px;
    font-weight: medium;
    color: var(--cor-p7);
}
.relatos-cont-card p::before, .relatos-cont-card p::after {
    content: "''";
}
.relatos-cont-card span {
    padding-block: 16px;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .15px;
    color: var(--cor-p2);
}
.relatos-cont-card img {
    width: 70px;
}

@media(max-width: 1050px) {

    .planos-cards-price {
        grid-template-columns: 1fr;
        gap: 22px;
    }
    .card-price {
       margin: 0 auto;
       max-width: 400px;
    }
    .card-price-vantagens ul {
        margin: 0px 10px;
    }
    .card-principal {
        grid-area: 1 / 1;
    }
    .plans-cards-cont {
        grid-template-columns: 1fr 1fr;
        padding: 22px;
    }
}
@media(max-width: 640px) {
    .plans-cards-cont {
        grid-template-columns: 1fr;
        padding: 22px;
    }
    .question-container-text h3, .planos-container-text h2 {
        font-size: 1.8rem;
    }
    .question-container-text p, .planos-container-text p {
        font-size: 1.1rem;
    }
    .question-buttons a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 14px;
    }
}