body {
    background-color: var(--cor-bg);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
a {
    text-decoration: none;
}
li {
    text-decoration: none;
    list-style: none;
}

.js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
}
.js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: .3s;
}

.overlay, .overlayModal {
    display: initial;
    position: fixed;
    height: 92%;
    width: 100%;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}
.closeOverlay, .displayModalHidden {
    display: none;
}
.footer {
    display: grid;
}

@media(max-width: 640px) {
    .question-container-text h3, .text-h3-mbl {
        font-size: 2rem !important;
    }
    .question-container-text p, .text-p-mbl {
        font-size: 1.1rem !important;
    }
}